body, div, p, h1, h2, h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}
body {
  padding: 5%;
  background-image: url('https://maldenaccess.files.wordpress.com/2016/11/sky-web-background.jpg');
  background-size: cover;
  font-family: 'Roboto',sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.counterStyle {
  color: #f8f8f8;
  font-size: 3em;
}
.balloon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 1%;
  position: absolute;
  bottom: 0;
}
.inflatable {
  width: 6em;
  height: 6em;
  box-shadow: 0 0 5px 2px #f8f8f8;
  border-radius: 50%;
}

.string {
  width: 1.2px;
  height: 5em;
  background-color: #f8f8f8;
  /* transform: rotate(5deg); */
}
/* .colour-1 {
  background: #00c3ff;
  background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);
  background: linear-gradient(to right, #ffff1c, #00c3ff);
} */
.colour-2 {
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
